/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty {
    border: 2px solid red;
}

button:hover,a.btn:hover{
    cursor: pointer;
}

/* body{
    background-color: cadetblue;
    
} */


.jumbotron{
    background-color: #008080;
    /* background:url(./assets/images/office.jpg) no-repeat;
    background-size: cover; */
}