/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty {
    border: 2px solid red;
}

button:hover,a.btn:hover{
    cursor: pointer;
}

/* body{
    background-color: cadetblue;
    
} */

.form-container {
   
     background:url(./assets/images/officemove.jpg) no-repeat;   
    background-size: cover;
    padding-top: .5em;  
    padding:3.5em;
    width:500px;
    height:50%;
    position:fixed;
    left:50%;
    margin-left:-250px;
}

/* .box{
    widows: 70%;
    height: 100%;
    padding: cover;
    margin:100px auto;
    box-shadow: 0px 0px 10px 2px gray;

    background:url(./assets/images/officemove.jpg) no-repeat;
    background-size: cover;  
} */


button {
    
    padding:1.2em;
    width:100%;
    cursor:pointer;
    margin-bottom:10px;
    font-size:1.3em;
    border-radius: 50px;
    
}

/* .jumbotron{
    background-color: #008080;
    background:url(./assets/images/officemove.jpg) no-repeat;   
    background-size: 100%; 
} */